<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BB5LDTZKG0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BB5LDTZKG0');
</script>

<script>  
function sendArtReadEvent(artikelnamn, tid) {
    gtag('event', 'read_article_new', {
        "artikelnamn": artikelnamn,
        "tid": tid,
    });
 }

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("knapp1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel "Article 1"
        readArticle1Button.addEventListener("click", () => {
            sendArtReadEvent("Article 1", 1)
        });

        // Skickar event vid klick på artikel "Article 2t"
        document.getElementById("knapp2").addEventListener("click", () => {
            sendArtReadEvent("Article 2", 2)
        });

        // Skickar event vid klick på artikel "Article 3"
        document.getElementById("knapp3").addEventListener("click", () => {
            sendArtReadEvent("Article 3", 3)
        });
      
      //Skickar event vid klick på "Purchase"
      document.getElementById("knapp4").addEventListener("click", () => {
            sendArtReadEvent("Purchase", 2)
      });
      }
  
  });

</script>
